:root {
  --font-family-inter: Inter;
  --font-size-24: 24px;
  --font-size-14: 14px;
  --font-size-20: 20px;
  --font-size-16: 16px;
  --font-size-12: 12px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --letter-spacing-0: 0px;
  --line-height-28: 28px;
  --line-height-24: 24px;
  --line-height-20: 20px;
  --line-height-16: 16px;
  --paragraph-spacing-0: 0px;
  --paragraph-spacing-20: 20px;
  --paragraph-indent-0: 0px;
  --list-spacing-0: 0px;
  --list-spacing-2: 2px;
}
